@model MvcMovie.Models.Movie

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <table class="table table-striped">
        <thead>
            <h4>Movie</h4>
        </thead>
        <tbody>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayFor(model => model.Title)
                </th>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ReleaseDate)
                </th>
                <th>
                    @Html.DisplayFor(model => model.ReleaseDate)
                </th>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Genre)
                </th>
                <th>
                    @Html.DisplayFor(model => model.Genre)
                </th>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayFor(model => model.Price)
                </th>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <button type="button" class="btn btn-outline-secondary btn-sm">
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    </button>
    |
    <button type="button" class="btn btn-outline-secondary btn-sm">
        <a asp-action="Index">Back to List</a>
    </button>
</div>