@model IEnumerable<MvcMovie.Models.Movie>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <button type="button" class="btn btn-outline-success btn-sm">
    <a asp-action="Create">Create New</a>
    </button>

</p>
<table class="table table-striped">
    <thead >
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <button type="button" class="btn btn-outline-secondary btn-sm">
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                     </button>
                     |
                    <button type="button" class="btn btn-outline-secondary btn-sm">
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    </button>
                    |
                    <button type="button" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteMovie">
                        Delete
                    </button>

                </td>
            </tr>
            <div class="modal fade" id="deleteMovie" tabindex="-1" aria-hidden="true" aria-labelledby="deleteModalLabel">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="deleteModalLabel">Delete movie</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete a movie?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary">
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                </button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </tbody>
</table>



